<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" routerLink="/appsadd">
            <img src="assets/plus.png" style="width:50px;height: 50px;">
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/apps">
            <img src="assets/application.png" style="width:50px;height: 50px;">
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/grok">
            <img src="assets/grok.png" style="width:50px;height: 50px;">
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/kibana">
            <img src="assets/kibana.png" style="width:50px;height: 50px;">
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/elastic">
            <img src="assets/elastic.png" style="width:50px;height: 50px;">
        </a>
    </li>
</ul>