<form class="form-horizontal"
      novalidate
      (ngSubmit)="addApp()"
      [formGroup]="addApplicationForm">
    <div class="form-group"
         [ngClass]="{'has-error': (addApplicationForm.get('name').touched ||
                                                       addApplicationForm.get('name').dirty) &&
                                                      !addApplicationForm.get('name').valid }">
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-server fa" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="name" id="name"
                       placeholder="Podaj nazwę aplikacji" formControlName="name"/>
            </div>
            <span class="help-block" *ngIf="(addApplicationForm.get('name').touched ||
                                                             addApplicationForm.get('name').dirty) &&
                                                             addApplicationForm.get('name').errors">
                                <span *ngIf="addApplicationForm.get('name').errors.required">
                                    Nazwa aplikacji jest wymagana
                                </span>
                                <span *ngIf="addApplicationForm.get('name').errors.pattern">
                                    Nieprawidłowa nazwa aplikacji
                                </span>
                        </span>
        </div>
    </div>

    <div class="form-group"
               [ngClass]="{'has-error': (addApplicationForm.get('grok').touched ||
                                                       addApplicationForm.get('grok').dirty) &&
                                                      !addApplicationForm.get('grok').valid }">
    <div class="cols-sm-10">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-file-code-o  fa-lg" aria-hidden="true"></i></span>
            <input type="text" class="form-control" name="grok" id="grok"
                   placeholder="Podaj wzorzec logów w formacie Grok (możesz użyć Grok Builder -> menu po lewej)" formControlName="grok"/>
        </div>
        <span class="help-block" *ngIf="(addApplicationForm.get('grok').touched ||
                                                             addApplicationForm.get('grok').dirty) &&
                                                             addApplicationForm.get('grok').errors">
                                <span *ngIf="addApplicationForm.get('grok').errors.required">
                                    Wzorzec logów jest wymagany
                                </span>
                                <span *ngIf="addApplicationForm.get('grok').errors.pattern">
                                    Nieprawidłowy wzorzec logów
                                </span>
                        </span>
    </div>
    </div>

    <div class="form-group">
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon">Źródło logów</span>
                <select class="form-control" name="inputType" id="inputType" formControlName="inputType">
                    <option value="FILE">File</option>
                    <option value="HTTP">Http</option>
                </select>
            </div>
        </div>
    </div>




    <div class="form-group" *ngIf="this.addApplicationForm.controls.inputType.value=='FILE'"
         [ngClass]="{'has-error': (addApplicationForm.get('filePath').touched ||
                                                       addApplicationForm.get('filePath').dirty) &&
                                                      !addApplicationForm.get('filePath').valid }">
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-code-o  fa-lg" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="filePath" id="filePath"
                       placeholder="Podaj ścieżkę do logów aplikacji" formControlName="filePath"/>
            </div>
            <span class="help-block" *ngIf="(addApplicationForm.get('filePath').touched ||
                                                             addApplicationForm.get('filePath').dirty) &&
                                                             addApplicationForm.get('filePath').errors">
                                <span *ngIf="addApplicationForm.get('filePath').errors.required">
                                    Ścieżka jest wymagana
                                </span>
                                <span *ngIf="addApplicationForm.get('filePath').errors.pattern">
                                    Nieprawidłowy format ścieżki
                                </span>
                        </span>
        </div>
    </div>

    <div class="form-group" *ngIf="this.addApplicationForm.controls.inputType.value=='HTTP'"
         [ngClass]="{'has-error': (addApplicationForm.get('port').touched ||
                                                       addApplicationForm.get('port').dirty) &&
                                                      !addApplicationForm.get('port').valid }">
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-file-code-o  fa-lg" aria-hidden="true"></i></span>
                <input type="text" class="form-control" name="port" id="port"
                       placeholder="Podaj port na który będą wysyłane logi" formControlName="port"/>
            </div>
            <span class="help-block" *ngIf="(addApplicationForm.get('port').touched ||
                                                             addApplicationForm.get('port').dirty) &&
                                                             addApplicationForm.get('port').errors">
                                <span *ngIf="addApplicationForm.get('port').errors.required">
                                    Port jest wymagany
                                </span>
                                <span *ngIf="addApplicationForm.get('port').errors.pattern">
                                    Nieprawidłowy format portu
                                </span>
                        </span>
        </div>
    </div>

    <div class="form-group ">
        <button type="submit" class="btn btn-primary btn-lg btn-block"
                [disabled]="!addApplicationForm.valid">Dodaj
        </button>
    </div>
</form>